.formReuniaoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    width: 40vw;
    padding: 30px;
}

.inputGroup{
    display: flex;
    gap: 20px
}

.error{
    color: red;
    font-size: 1rem;
}